
body {
  font-size: 1.0em;
  font-family: 'Alegreya Sans SC', sans-serif, ;
  font-style: normal;
  font-weight: 100;
  text-align: justify;
  margin: 0px auto;
  padding: 0px;
  border:0;
  width: 100%;
  background-color: #FFFEFC;
}

a {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 0.75em;
}

header {
  width: auto;
  background-color: #DE8642;
  border-bottom: 0.1em solid #928A7F;
  bottom: 0;
  height: 6em;
  padding: 0 3em 0 3em;
}

.main-content {
  padding: 0 10em 0 10em;
  margin-bottom: 5em;
}

.Self-Portrait {
  max-height: 6em;
  border-radius: 6em;
  margin: 1em 1em 0 1em;
  padding: 0.3em;
  border: 0.01em solid #d3d3d3;
}

.Banner {
  position: relative;
  left: 1em;
  top: -1em;
  display: inline-block;
}

.Banner-Link {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.5em;
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 0 0.5px darkgrey;
}j

header nav {
  margin: 3.5em 2em 0 0;
}

.header-nav {
  padding: 3.7em 2em 0 0;
  float: right;
}


nav ul li{
  display: inline;
}

nav li + li:before{
    content: " | ";
    padding: 0 1em;
    color: #393229;
}

section {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

figure {
    display: inline-block;
    width: 25%;
    margin: 1em;
    text-align:center;
}

figure img{
  display: inline-block;
  max-height: 25em;
  max-width: 25em;
  width: 95%;
  height: 95%;
  margin: auto;
  padding: 0.3em;
  border: 0.1em solid #DDDAD6;
}

footer {
  position: fixed;
  bottom: 0;
  border-top: 0.1em solid #928A7F;
  width: 100%;
  height: 3em;
  text-align: center;
  background-color: #AA969C;
}

.about {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 0.75em;
}

.onwardsAndUpwards{
  display: inline-block;
  max-height: 10em;
  max-width: 16em;
  width: 95%;
  height: 95%;
  margin: auto;
  padding: 0.3em;
  border: 0.1em solid #d3d3d3;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

.header-nav a:link {
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 0 0.5px darkgrey;
}

.header-nav a:visited{
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 0 0.5px darkgrey;
}

footer a:link {
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 0 0.5px darkgrey;
}

footer a:visited{
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 0 0.5px darkgrey;
}

@media screen and (max-width: 1329px){
.Banner-Link  {
  font-size: 2em;
}
}

@media screen and (max-width: 1217px){
.Banner-Link  {
  font-size: 1.5em;
}
}

@media screen and (max-width: 710px){
.Banner-Link  {
  font-size: 1.0em;
}
}

@media screen and (max-width: 610px){
.Banner-Link  {
  font-size: 1.0em;
}
}
