<!DOCTYPE html>
<html>
  <head>
    <title>Bingo Project</title>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/default.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/bingo.css" />
  </head>
  <body>
    <header>
      <img class="Self-Portrait" src="../../../imgs/Self-Image.jpg" alt="icon"/>
      <h1 class="Banner">
      <a class ="Banner-Link" href="mailto:davidpokeefe3@gmail.com" target="_self">
        DAVID O'KEEFE
      </a>
      </h1>
      <nav>
        <ul>
          <li><a href="../../../index.html">HOME</a></li>
          <li><a href="../../../about.html">ABOUT</a></li>
          <li><a href="../../../blog/index.html">BLOG</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="topGameInfo">
        <div id="newGameVisibility">
        <p>Would you like to play a game of bingo?</p>
          <button class="startGame" type="button" onclick="startGame()">Play!</button>
        </div>
        <div id="nextBall">
          <p class="nextBall"></p>
        </div>
      </div>
      <div id="playerBoard1">
        <table>
          <thead>
            <tr>
              <th id="playerName1" colspan="5"></th>
            </tr>
            <tr>
              <th class="boardHeading1"></th>
              <th class="boardHeading1"></th>
              <th class="boardHeading1"></th>
              <th class="boardHeading1"></th>
              <th class="boardHeading1"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
              <td id="boardCell" class="boardDisplay1"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="playerBoard2">
        <table>
          <thead>
            <tr>
              <th id="playerName2" colspan="5"></th>
            </tr>
            <tr>
              <th class="boardHeading2"></th>
              <th class="boardHeading2"></th>
              <th class="boardHeading2"></th>
              <th class="boardHeading2"></th>
              <th class="boardHeading2"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
            </tr>
            <tr>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
              <td id="boardCell" class="boardDisplay2"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="nextBallButtonVisibility">
        <button class="nextBallButton" type="button" onclick="nextBall()">Next Ball</button>
      </div>
      <p class="winner"></p>
      <div id="playAgainVisibility">
        <p>Would you like to play again?</p>
        <button class="playAgain" type="button" onclick="playAgain()">Play!</button>
      </div>
      <script src="../js/bingo.js"></script>
    </section>
    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://github.com/DavidOKeefe">
              GITHUB
            </a>
            <li>
              <a href="https://www.linkedin.com/in/davidpokeefe3">
                LINKEDIN
              </a>
            </li>
            <li>
              <a href="https://twitter.com/DavidPOKeefe3">
                TWITTER
              </a>
            </li>
          </ul>
        </nav>
      </footer>
    </body>
  </html>
