<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/default.css" />
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300,500,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/mousetrap.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="../js/models/Game.js"></script>
    <script src="../js/models/Board.js"></script>
    <script src="../js/application.js"></script>
    <title>256!</title>
  </head>
  <body>
    <header>
      <img class="Self-Portrait" src="../../../imgs/Self-Image.jpg" alt="icon"/>
      <h1 class="Banner">
      <a class ="Banner-Link" href="mailto:davidpokeefe3@gmail.com" target="_self">
        DAVID O'KEEFE
      </a>
      </h1>
      <nav class="header-nav">
        <ul>
          <li><a href="../../../index.html">HOME</a></li>
          <li><a href="../../../about.html">ABOUT</a></li>
          <li><a href="../../../blog/index.html">BLOG</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="game-header">
          <h2>256</h2>
          <div class="scores-container"><!-- current score --></div>
          <div class="restart-button"></div>
          <h3>Join the numbers and get to the 256 tile!</h3>
          <button id="new_game_button">New Game</button>
        </div>
        <div class="game-container">
          <div class="grid-container">
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://github.com/DavidOKeefe">
              GITHUB
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/davidpokeefe3">
              LINKEDIN
            </a>
          </li>
          <li>
            <a href="https://twitter.com/DavidPOKeefe3">
              TWITTER
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
